## Python Basics

In [ ]:
print('Hello World')

Hello World

## Variables and Data Types

Variable:     - Container to store a value
Keywords:     - Reserved words in Python
Identifiers:  - class/function/variable name
Data Types:   -Primarily there are the following data types in Python:
 - Integers
 - Floating point numbers
 - Strings
 - Booleans
 - None

In [ ]:
a = 71                                #Identifies a as class<int>

b = 88.44                             #Identifies b as class<float>

name = "Usama"                       #Identifies name as class<Str>

print (name)
print (a)
print (b)

Usama
71
88.44

In [ ]:
a = 31

print(type(a))     #class<int>

b = '31'

print(type(b))     #class<str>

<class 'int'>
<class 'str'>

In [ ]:
print(str(31))   # "31" Integer to string conversion

print(int("32"))        # 32 String to int conversion

print(float(32))       #32.0 Integer to float conversion

31
32
32.0

## Operators in Python

The following are some common operators in Python:

Arithmetic Operators (+, -, *, /, etc.)
Assignment Operators (=, +=, -=, etc.)
Comparison Operators (==, >=, <=, >, <, !=, etc.)
Logical Operators (and, or, not)

In [13]:
2+3

5

In [14]:
2==2

True

In [17]:
2>=2

True

In [18]:
2<=1

False

In [19]:
2%4

2

In [20]:
3!=7

True

In [21]:
2//2   #give int vale

1

In [22]:
2/2   # give float value

1.0

## input() function

This function allows the user to take input from the keyboard as a string.

In [ ]:
name = input("Enter name")              # user entered name

In [14]:
## input type

a=input("Enter the number A ")
b=input("enter the number B ") 
print(int(a)+int(b))

Enter the number A 29
enter the number B 097
126

## Complex Numbers

In [15]:
##complex numbers

j=1.0-2.3j
j

(1-2.3j)

In [16]:
print(j.real,j.imag)

1.0 -2.3

In [28]:
#Dynamic Typing || we can change a variable int , string , float etc
a=10
a='Usama'
a

'Usama'

In [29]:
#strong typing
a="Usama"
a

'Usama'

In [30]:
a + "w"
# a + 1  # error, we cant concatenate str and int 
a + str(1)

'Usama1'

In [ ]:
first_name="Usama"
last_name="Wajid"
print("The first name is {a} and last name is {b}".format(b=last_name,a=first_name))

The first name is Usama and last name is Wajid

In [21]:
#string Formatting

a=100
print("The values is - ",a)

The values is -  100